@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Monts;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body{
    margin: 0 auto;
}

body h1{
    font-family: Roboto;
}

body p{
    font-family: Monts;
}

.toTop{
    background: none;
    border: none;
    position: fixed;
    z-index: 99;
    left: 1750px;
    bottom: 20px;
}


nav{
    width: 100%;
    height: 70px;
    background: #322F2F;
    font-family: Monts;
}


.firstText{
    color: white;
    font-size: 12px;
    width: 25%;
    margin-left: 172px;
    height: 100%;
}

nav img{
    margin-top: 50px;
    margin-left: 250px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.secondText{
    color: white;
    font-size: 12px;
    width: 25%;
    height: 100%;
    margin-left: 215px;
}

.btn-lang{
    background: none !important;
    border: none !important;
    font-size: 12px !important;
}



.dropdown-menu.show{
    min-width: 70px;
}

nav p{
    transition: color 0.2s;
    color: white !important;
}

.firstText a{
    color: white !important;
}

nav p:hover{
    color: grey;
    cursor: pointer;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-38px);
              transform: translateY(-38px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-38px);
              transform: translateY(-38px);
    }
  }

.dropdown-lang{
    font-size: 12px !important;
}

.trailer-div{
    width: 100%;
    background: #575757;
    height: 550px;
    margin-top: 200px;
}

.trailer-div h1{
    color: white;
    text-align: center;
}


.gameplay-div{
    width: 100%;
    height: 625px;
    margin-top: 200px;
}

.gameplay-div h1{
    font-size: 64px;
    text-align: center;
}

.gameplay-info{
    margin-top: 60px;
}


.gameplay-text{
    margin-left: 60px;
}

.gameplay-video{
    margin-left: 20px;
}

a{
    text-decoration: none !important;
}

.plot-div{
    width: 100%;
    background: #575757;
    height: 625px;
    margin-top: 200px;
}

.plot-div h1{
    font-size: 64px;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.plot-div p{
    color: white;
}

.plot-info{
    margin-top: 60px;
}

.history-div{
    width: 100%;
    height: 625px;
    margin-top: 200px;
}

.history-div h1{
    font-size: 64px;
    text-align: center;
}

.history-info{
    margin-top: 60px;
}

.music-div{
    width: 100%;
    background: #575757;
    height: 625px;
    margin-top: 200px;
}

.music-div h1{
    font-size: 64px;
    color: white;
    text-align: center;
    padding-top: 25px;
}
.music-div p{
    color: white;
}

.music-div h2{
    font-size: 24px;
    color: white;
    text-align: center;
}

.music-info{
    margin-top: 60px;
}

.track3{
    margin-left: 20px;
}

.feedbacks-div{
    width: 100%;
    height: 625px;
    margin-top: 200px;
}

.feedbacks-div h1{
    font-size: 64px;
    text-align: center;
}

.feedbacks-div li{
    font-family: Monts;
}

.feedbacks-info{
    margin-top: 60px;
}

footer{
    width: 100%;
    height: 161px;
    background: #322F2F;
}

footer p{
    color: white;
    font-size: 12px;
    margin-top: 30px;
    transition: color 0.2s;
}

footer p:hover{
    color: grey;
}

footer img{
    margin-top: 11px;
}

.team{
    margin-top: 55px;
    text-align: center;
    color: #ABABAB !important;
}
  